# El nombre 2-title.png

In [ ]:
# In this notebook, Data Science Tools and Ecosystem are summarized

## El nombre 3-intro.png

### El nombre 10-objectives.png

### **LOs objetivos de este notebook son los siguientes:**

- Aprender notebook
- Aprender a crear listas ordenadas
- Aprender a escribir en negrita
- Apender a crear encabezados

In [ ]:
# Some of the popular languages that Data Scientists use are:

### El nombre 4-dslanguages.png

1. Phyton
2. R
3. C
4. Java
5. Scala

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:

#### El nombre 5-dslibraries.png

- Numpy
- Pandas
- Matplotlib
- Altair
- Ploty

##### El nombre 6-dstools.png

| Herramientas ciencia de datos |
| ----------------------------- |
| MySQL |
| CouchDB |
| Hadoop |

 ###### El nombre 7-introarithmetic.png

### Below are a few examples of evaluating arithmetic expressions in Python
983 + 568 + 678
123 * 5
980 / 2

###### El nombre 8-multiplyandaddintegers.png

In [6]:
#  Esta es una expresión aritmética simple para luego agregar números enteros
(3*4) + 5

17

###### el nombre 9-hourstominutes.png

In [1]:
# Esta operacion converitra 200 minutos en horas
200/60

3.3333333333333335

## Author: Susana Martín Eguibar